<div>
  <h3>Lifecycle Test</h3>
  <!--
    <a routerLink="home"> HOME </a> || <a routerLink="child"> Lifecycle </a>
    <br /><br />

    lifecyle input value : <input type="text" [(ngModel)]="childValue" /> <br />
    <br />
    <router-outlet></router-outlet>

    <app-lifecycle [parentValue]="childValue">
      <app-child></app-child>
    </app-lifecycle>
  -->
  <!-- <app-lifecyclehome> </app-lifecyclehome> -->
  <!-- <a routerLink="/sss" > test</a> -->

  <!-- <app-sampler></app-sampler> -->

  <!-- <router-outlet></router-outlet> -->

  <!-- <app-sample></app-sample> -->

  <!---->
  <!-- <app-homestyle></app-homestyle> -->

  <!-- Title : <input type="text" [(ngModel)]="title" /> -->
  <!--
    <app-b2lfhome [parentTitle]="title">

      <div>Parent Content to be inserted in the Home component</div>

    </app-b2lfhome>
  -->

  <!-- <app-ordercreation></app-ordercreation> -->
  <!-- <app-orderitems></app-orderitems> -->
  <!-- <app-simpleanimation></app-simpleanimation> -->
  <!-- <app-i18nhome></app-i18nhome> -->
  <app-lifecyclehome>
    <app-footer></app-footer> <app-lc-contact> </app-lc-contact>
</app-lifecyclehome>
</div>
